/* GT Walsheim Pro Font Family */
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Thin.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Thin.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-UltraLight.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-UltraLight.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Light.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Light.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Regular.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Regular.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Medium.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Medium.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Bold.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Bold.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-UltraBold.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-UltraBold.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-UltraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/gt-font/GTWalsheimPro-Black.woff2') format('woff2'),
       url('../fonts/gt-font/GTWalsheimPro-Black.woff') format('woff'),
       url('../fonts/gt-font/GTWalsheimPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
