
/* --------------------------------------------------------------------
* Template color skin CSS (Green)
* 
* Template:		Sepia - Photography Portfolio HTML Website Template
* Author:		Themetorium
* URL:			https://themetorium.net
*
* Template skin main color: #283106;
* Hover color: #283106;
*
* Read template documentation about how to enable color skin!
----------------------------------------------------------------------- */



a {
	color: #283106;
}
a:hover, a:focus {
	color: #283106;
	text-decoration: none;
}

::selection {
	background: #283106;
}
::-moz-selection {
	background: #283106; /* Firefox */
}
::-webkit-selection {
	background: #283106; /* Safari */
}

hr.hr-short {
	border-color: #283106;
}

.animsition-loading {
	border-color: #283106;
}

.tt-menu-nav > li > a:after {
	background-color: #283106;
}

.tt-menu-nav > li.active > a:after {
	background-color: #283106;
}

.tt-submenu li > a:hover {
	-webkit-box-shadow: inset 3px 0 0 0 #283106;
	box-shadow: inset 3px 0 0 0 #283106;
}
.tt-submenu > li.active > a {
	-webkit-box-shadow: 3px 0 0 0 #283106;
	box-shadow: inset 3px 0 0 0 #283106;
}
.tt-menu-nav > li.active > a {
		box-shadow: inset 4px 0 0 0 #283106;
	}

.tt-submenu > li.active > a {
		box-shadow: inset 4px 0 0 0 #283106;
	}

.tt-clobal-search #tt-clobal-search-input:focus {
	border-bottom-color: #283106;
}
.tt-tools-button {
	background-color: #283106;
}
#tt-intro .cc-category {
	background-color: #283106;
}
ul.isotope-filter-links > li > a:after {
	background-color: #283106;
}
.isotope-filter-button {
	background-color: #283106;
}
.isotope-filter.fi-to-button ul.isotope-filter-links > li > a:hover {
	color: #283106;
}
.isotope-filter.fi-to-button ul.isotope-filter-links > li > a.active {
	color: #283106;
}
.gl-item-title a:hover {
	color: #283106;
}
.gli-alter-2 .gl-item-title a:hover {
	color: #283106;
}
.gli-alter-3 .gl-item-title a:hover {
	color: #283106;
}
.gli-colored .gallery-list-item .gl-item-image-inner:hover:before,
.gli-colored.gli-alter-4 .gallery-list-item:hover .gl-item-image-inner:before,
.gli-colored.gli-alter-4 .gallery-list-item:hover .gl-item-image-inner:hover:before,
.gli-colored.gli-alter-5 .gallery-list-item:hover .gl-item-image-inner:before {
	background-color: #283106 !important;
}
.gtb-heading-category a,
.gtb-heading-category span {
	background-color: #283106;
}
#gallery.gsi-color .gallery-single-item:before {
	background-color: #283106;
}
.gallery-share {
	background-color: #283106;
}
ul.gallery-meta > li a:hover {
	color: #283106;
}
.gallery-single-carousel ul.gallery-meta > li a:hover {
	color: #283106;
}
.icon-heart-filled:before {
	color: #283106;
}
.sr-item-category a,
.sr-item-category span {
	background-color: #283106;
	color: #FFF;
}
.sr-item-title:hover,
.sr-item-title > a:hover {
	color: #283106;
}
.sr-item-meta a:hover {
   color: #283106;
}
ul.sr-item-attr > li a:hover {
	color: #283106
}
.price-box.price-box-featured .btn-price-box {
	background-color: #283106;
	border-color: #283106;
}
.price-box.price-box-featured .btn-price-box:hover {
	background-color: #283106;
	border-color: #283106;
}
.nav-outside-top .owl-nav button.owl-prev:hover, .nav-outside-top .owl-nav button.owl-next:hover {
	background-color: #283106 !important;
}
.owl-dots button.owl-dot.active span, 
.owl-dots button.owl-dot:hover span {
	background-color: #283106;
}
.owl-carousel .cc-title a:hover {
	/* color: #283106; */
}
.owl-carousel .cc-category a,
.owl-carousel .cc-category span {
	background-color: #283106;
}
.cc-meta a:hover {
	color: #283106;
}
.owl-carousel ul.cc-item-attr > li a:hover {
	color: #283106;
}
#blog-list-carousel-section .owl-carousel .cc-category a:hover {
	background-color: #283106;
}
.bl-item-category a,
.bl-item-category span {
	background-color: #283106;
	color: #FFF;
}
.bl-item-title:hover, .bl-item-title:focus,
.bl-item-title h2:hover, .bl-item-title h2:focus {
	color: #283106;
}
.bl-item-meta a:hover {
	color: #283106;
}
.blog-list-item .bl-item-read-more:hover span,
.blog-list-item .bl-item-read-more:hover span:before,
.blog-list-item .bl-item-read-more:hover span:after {
	background-color: #283106;
}
ul.bl-item-attr > li a:hover {
	color: #283106;
}
.blog-single-post-category a {
	background-color: #283106;
	color: #FFF;
}
.single-post-image-caption a {
	color: #283106;
}
.blog-single-meta .article-author a:hover {
	color: #283106;
}
.blog-single-meta .article-time-cat a:hover {
	color: #283106;
}
.blog-single-links a:hover, .blog-single-links a:focus, .blog-single-links .favorite-btn:hover {
	color: #283106;
}
.blog-single-tags a:hover {
	background-color: #283106;
}
.bs-nav-title:hover, .bs-nav-title h4:hover {
	color: #283106;
}
.related-posts-heading {
	border-color: #283106;
}
.related-posts-item .rp-item-title:hover,
.related-posts-item .rp-item-title h4:hover {
	color: #283106;
}
.related-posts-item .rp-item-category a {
	background-color: #283106;
}
.media-heading a:hover {
	color: #283106;
}
.media-reply a:hover {
	color: #283106;
}
.sidebar-heading {
	border-color: #283106;
}
.sidebar hr {
	border-color: #283106;
}
.blog-author-name a:hover {
	color: #283106;
}
.sidebar-categories > ul > li > a:hover {
	color: #283106;
}
.sidebar-categories > ul > li > a:hover span {
	background-color: #283106;
}
.sidebar-post-list .post-data .post-title a:hover {
	color: #283106;
}
.sidebar-post-list .post-data .author a:hover {
	color: #283106;
}
.sidebar-comment-data .author a:hover {
	color: #283106;
}
.sidebar-comment-wrap .sidebar-comment a:hover {
	color: #283106;
}
.sidebar-tags a:hover {
	background-color: #283106;
}
.sidebar-meta ul > li > a:hover {
	color: #283106;
}
#tt-post-password-form button {
	background-color: #283106;
}
.page-header-category > a {
	background-color: #283106;
	color: #FFF;
}
.ph-more-info-trigger-icon {
	border: 2px solid #283106;
}
.ph-more-info-trigger-icon:before, 
.ph-more-info-trigger-icon:after {
	background-color: #283106;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	background-color: #283106;
	border-color: #283106;
}
.form-control:focus {
	border-color: #283106 !important;
}
.btn-primary { /* same as template main color */
	background-color: #283106;
	border-color: #283106;
}
.btn-primary:hover, 
.btn-primary.focus, 
.btn-primary:focus, 
.btn-primary.active, 
.btn-primary:active, 
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary.focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary:hover {
	color: #FFF;
	background-color: #283106;
	border-color: #283106;
}
.btn-primary.btn-link {
	color: #283106;
}
.btn-primary-bordered {
	color: #283106;
	border-color: #283106;
}
.btn-link {
	color: #283106; /* same as template main link color */
}
.btn-link:hover,
.btn-link.focus,
.btn-link:focus,
.btn-link.active,
.btn-link:active,
.btn-link.active.focus,
.btn-link.active:focus,
.btn-link.active:hover,
.btn-link:active.focus,
.btn-link:active:focus,
.btn-link:active:hover,
.open > .dropdown-toggle.btn-link,
.open > .dropdown-toggle.btn-link.focus,
.open > .dropdown-toggle.btn-link:focus,
.open > .dropdown-toggle.btn-link:hover {
	color: #283106;
}
.follow-me-buttons a:hover {
	color: #283106;
}
.footer-copyright a {
	color: #283106;
}
.scrolltotop:hover,
.scrolltotop:focus {
	background-color: #283106;
}



/* ------------------------------------------------------------- *
 *  Helper classes
/* ------------------------------------------------------------- */

.text-main { color: #283106 !important; }
.link-main a { color: #283106 !important; }
.bg-main { background-color: #283106 !important; }
.border-main { border-color: #283106 !important; }
.border-top-main { border-top-color: #283106 !important; }
.border-bottom-main { border-bottom-color: #283106 !important; }
.border-left-main { border-left-color: #283106 !important; }
.border-right-main { border-right-color: #283106 !important; }